# Grafana Datasource Provisioning for T-Mobile Dashboard
# Auto-configures all LGTM stack datasources

apiVersion: 1

datasources:
  # Prometheus - Primary metrics source
  - name: Prometheus
    type: prometheus
    access: proxy
    uid: prometheus
    url: http://prometheus:9090
    isDefault: true
    editable: false
    jsonData:
      httpMethod: POST
      manageAlerts: true
      prometheusType: Prometheus
      prometheusVersion: 2.48.0
      exemplarTraceIdDestinations:
        - name: traceID
          datasourceUid: tempo

  # Mimir - Long-term metrics storage
  - name: Mimir
    type: prometheus
    access: proxy
    uid: mimir
    url: http://mimir:9009/prometheus
    editable: false
    jsonData:
      httpMethod: POST
      prometheusType: Mimir
      prometheusVersion: 2.11.0

  # Loki - Log aggregation
  - name: Loki
    type: loki
    access: proxy
    uid: loki
    url: http://loki:3100
    editable: false
    jsonData:
      maxLines: 1000
      derivedFields:
        - name: TraceID
          matcherRegex: "traceID=(\\w+)"
          url: "$${__value.raw}"
          datasourceUid: tempo

  # Tempo - Distributed tracing
  - name: Tempo
    type: tempo
    access: proxy
    uid: tempo
    url: http://tempo:3200
    editable: false
    jsonData:
      httpMethod: GET
      tracesToLogsV2:
        datasourceUid: loki
        spanStartTimeShift: '-1h'
        spanEndTimeShift: '1h'
        filterByTraceID: true
        filterBySpanID: true
      tracesToMetrics:
        datasourceUid: prometheus
        spanStartTimeShift: '-1h'
        spanEndTimeShift: '1h'
      serviceMap:
        datasourceUid: prometheus
      nodeGraph:
        enabled: true
      lokiSearch:
        datasourceUid: loki

  # Alertmanager - Alert management
  - name: Alertmanager
    type: alertmanager
    access: proxy
    uid: alertmanager
    url: http://alertmanager:9093
    editable: false
    jsonData:
      implementation: prometheus
